
.container
{
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.column,
.columns
{
	width: 100%;
	float: left;
	box-sizing: border-box;
}

@media (min-width: 400px)
{
	.container
	{
		width: 90%;
		padding: 0;
	}
}

@media (min-width: 550px)
{
	.container
	{
		width: 90%;
	}
	
	.column,
	.columns
	{
		margin-left: 4%;
	}
	
	.column:first-child,
	.columns:first-child
	{
		margin-left: 0;
	}

	.one.column,
	.one.columns                    { width: 4.66666666667%; }
	.two.columns                    { width: 13.3333333333%; }
	.three.columns                  { width: 22%;            }
	.four.columns                   { width: 30.6666666667%; }
	.five.columns                   { width: 39.3333333333%; }
	.six.columns                    { width: 48%;            }
	.seven.columns                  { width: 56.6666666667%; }
	.eight.columns                  { width: 65.3333333333%; }
	.nine.columns                   { width: 74.0%;          }
	.ten.columns                    { width: 82.6666666667%; }
	.eleven.columns                 { width: 91.3333333333%; }
	.twelve.columns                 { width: 100%; margin-left: 0; }

	.one-third.column               { width: 30.6666666667%; }
	.two-thirds.column              { width: 65.3333333333%; }

	.one-half.column                { width: 48%; }


	.offset-by-one.column,
	.offset-by-one.columns          { margin-left: 8.66666666667%; }
	.offset-by-two.column,
	.offset-by-two.columns          { margin-left: 17.3333333333%; }
	.offset-by-three.column,
	.offset-by-three.columns        { margin-left: 26%;            }
	.offset-by-four.column,
	.offset-by-four.columns         { margin-left: 34.6666666667%; }
	.offset-by-five.column,
	.offset-by-five.columns         { margin-left: 43.3333333333%; }
	.offset-by-six.column,
	.offset-by-six.columns          { margin-left: 52%;            }
	.offset-by-seven.column,
	.offset-by-seven.columns        { margin-left: 60.6666666667%; }
	.offset-by-eight.column,
	.offset-by-eight.columns        { margin-left: 69.3333333333%; }
	.offset-by-nine.column,
	.offset-by-nine.columns         { margin-left: 78.0%;          }
	.offset-by-ten.column,
	.offset-by-ten.columns          { margin-left: 86.6666666667%; }
	.offset-by-eleven.column,
	.offset-by-eleven.columns       { margin-left: 95.3333333333%; }

	.offset-by-one-third.column,
	.offset-by-one-third.columns    { margin-left: 34.6666666667%; }
	.offset-by-two-thirds.column,
	.offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

	.offset-by-one-half.column,
	.offset-by-one-half.columns     { margin-left: 52%; }
}


html
{
	font-size: 62.5%;
	background-color: #FAFAFA;
}

body
{
	font-size: 1.5rem;
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #222;
}

main
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	min-height: 100vh;
}

main > :first-child
{
	background-color: #FFFFFF;
	flex-basis: 100%;
	flex-grow: 1;
}

main > :last-child
{
	background-color: #FAFAFA;
	flex-basis: 100%;
	flex-grow: 1;
}

aside
{
    border-right: 1px solid #ECECEC;
}

aside > img
{
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    
}

aside > div
{
    display: flex;
    flex-direction: column;
    padding: 20px 16px;
}

aside > div > span
{
    font-weight: 600;
    padding: 10px;
}

aside > div > a
{
    display: block;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}

aside > div > a:hover,
aside > div > a.active
{
    color: inherit;
    background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6
{
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
}

h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

@media (min-width: 550px)
{
	h1 { font-size: 5.0rem; }
	h2 { font-size: 4.2rem; }
	h3 { font-size: 3.6rem; }
	h4 { font-size: 3.0rem; }
	h5 { font-size: 2.4rem; }
	h6 { font-size: 1.5rem; }
}

p
{
	margin-top: 0;
}

a
{
	color: #1EAEDB;
}

a:hover
{
	color: #0FA0CE;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]
{
	display: inline-block;
	height: 36px;
	padding: 0 10px;
	color: #555;
	text-align: center;
	font-weight: 600;
	line-height: 36px;
	letter-spacing: .1rem;	
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 3px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus
{
	color: #333;
	border-color: #888;
	outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary
{
	color: #FFF;
	background-color: #0AA2C0;
	border-color: #0AA2C0;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus
{
	color: #FFF;
	background-color: #1EAEDB;
	border-color: #1EAEDB;
}

.button.button-info,
button.button-info,
input[type="submit"].button-info,
input[type="reset"].button-info,
input[type="button"].button-info
{
	color: #fff;
	background-color: #0DCAF0;
	border-color: #0DCAF0;
}

.button.button-info:hover,
button.button-info:hover,
input[type="submit"].button-info:hover,
input[type="reset"].button-info:hover,
input[type="button"].button-info:hover,
.button.button-info:focus,
button.button-info:focus,
input[type="submit"].button-info:focus,
input[type="reset"].button-info:focus,
input[type="button"].button-info:focus
{
	color: #fff;
	background-color: #3DD5F3;
	border-color: #3DD5F3;
}

.button.button-warning,
button.button-warning,
input[type="submit"].button-warning,
input[type="reset"].button-warning,
input[type="button"].button-warning
{
	color: inherit;
	background-color: #FFC107;
	border-color: #FFC107;
}

.button.button-warning:hover,
button.button-warning:hover,
input[type="submit"].button-warning:hover,
input[type="reset"].button-warning:hover,
input[type="button"].button-warning:hover,
.button.button-warning:focus,
button.button-warning:focus,
input[type="submit"].button-warning:focus,
input[type="reset"].button-warning:focus,
input[type="button"].button-warning:focus
{
	color: inherit;
	background-color: #FFCA2C;
	border-color: #FFCA2C;
}

.button.button-danger,
button.button-danger,
input[type="submit"].button-danger,
input[type="reset"].button-danger,
input[type="button"].button-danger
{
	color: #FFF;
	background-color: #DC3545;
	border-color: #DC3545;
}

.button.button-danger:hover,
button.button-danger:hover,
input[type="submit"].button-danger:hover,
input[type="reset"].button-danger:hover,
input[type="button"].button-danger:hover,
.button.button-danger:focus,
button.button-danger:focus,
input[type="submit"].button-danger:focus,
input[type="reset"].button-danger:focus,
input[type="button"].button-danger:focus
{
	color: #FFF;
	background-color: #E35D6A;
	border-color: #E35D6A;
}

.button.button-success,
button.button-success,
input[type="submit"].button-success,
input[type="reset"].button-success,
input[type="button"].button-success
{
	color: #FFF;
	background-color: #198754;
	border-color: #198754;
}

.button.button-success:hover,
button.button-success:hover,
input[type="submit"].button-success:hover,
input[type="reset"].button-success:hover,
input[type="button"].button-success:hover,
.button.button-success:focus,
button.button-success:focus,
input[type="submit"].button-success:focus,
input[type="reset"].button-success:focus,
input[type="button"].button-success:focus
{
	color: #FFF;
	background-color: #479F76;
	border-color: #479F76;
}

.button.button-dark,
button.button-dark,
input[type="submit"].button-dark,
input[type="reset"].button-dark,
input[type="button"].button-dark
{
	color: #FFF;
	background-color: #212529;
	border-color: #212529;
}

.button.button-dark:hover,
button.button-dark:hover,
input[type="submit"].button-dark:hover,
input[type="reset"].button-dark:hover,
input[type="button"].button-dark:hover,
.button.button-dark:focus,
button.button-dark:focus,
input[type="submit"].button-dark:focus,
input[type="reset"].button-dark:focus,
input[type="button"].button-dark:focus
{
	color: #FFF;
	background-color: #424649;
	border-color: #424649;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select
{
	height: 36px;
	padding: 6px 10px;
	background-color: #fff;
	border: 1px solid #ECECEC;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea
{
	min-height: 10rem;
	padding-top: 6px;
	padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus
{
	border: 1px solid #33C3F0;
	outline: 0;
}

label,
legend
{
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
}

fieldset
{
	padding: 0;
	border-width: 0;
}

input[type="checkbox"],
input[type="radio"]
{
	display: inline;
}


label > .label-body
{
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}

ul
{
	list-style: circle inside;
}

ol
{
	list-style: decimal inside;
}

ol, ul
{
	padding-left: 0;
	margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul
{
	margin: 0.5rem 0 0.5rem 3rem;
	font-size: 90%;
}

li
{
	margin-bottom: 1rem;
}

code
{
	padding: .2rem .5rem;
	margin: 0 .2rem;
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}

pre > code
{
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre;
}

table
{
    background-color: #fff;
    padding: 10px;
    border-top: 3px solid #3AB3C7;
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-radius: 10px;
}

tr:hover
{
    background-color: #f5f5f5;
    cursor: pointer;
}

th,
td
{
	padding: 7px 10px;
	text-align: left;
	border-bottom: 1px solid #F7F7F7;
}

th:first-child,
td:first-child
{
	padding-left: 20px;
}

th:last-child,
td:last-child
{
	padding-right: 20px;
}

form
{
    background-color: #fff;
    padding: 20px;
    border-top: 3px solid #3AB3C7;
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-radius: 0;
}

td > form
{
	margin: 0;
	padding: 0;
	border: 0;
    border-radius: 0;
    background-color: transparent;
}

td > form > input
{
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	background-color: transparent;
}

button,
.button
{
	margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset
{
	margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form
{
	margin-bottom: 2.5rem;
}

.u-full-width
{
	width: 100%;
	box-sizing: border-box;
}

.u-max-full-width
{
	max-width: 100%;
	box-sizing: border-box;
}

.u-pull-right
{
	float: right;
}

.u-pull-left
{
	float: left;
}

hr
{
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	border-width: 0;
	border-top: 1px solid #E1E1E1;
}

.container:after,
.row:after,
.u-cf
{
	content: "";
	display: table;
	clear: both;
}

.popup
{
	margin: 1rem 0;
}

.popup p
{
	padding: 1.2rem;
	margin: 0 0 0.5rem 0;
	cursor: pointer;
	border-bottom: 2px solid white;
	border-radius: 1rem;
	background-color: #F4F6FA;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}

.popup p:hover
{
	background-color: #C7EDE6;
}

.popup p span.nama,
.popup p span.alamat,
.popup p span.umur
{
	color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 10px;
}

.popup p span.nama
{
	background-color: #39C2D8;
	flex-grow: 2;
}

.popup p span.alamat
{
	background-color: #9999CC;
	flex-grow: 2;
}

.popup p span.umur
{
	background-color: #F89C0E;
	flex-grow: 1;
}

@media (min-width: 400px) {}
@media (min-width: 550px) {}

@media (min-width: 750px)
{
	main
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
	}

	main > :first-child
	{
		flex-basis: 20rem;
		flex-grow: 1;
	}

	main > :last-child
	{
		flex-basis: 0;
		flex-grow: 999;
		min-inline-size: 50%;
	}
}

@media (min-width: 1000px) {}
@media (min-width: 1200px) {}
